@import url('https://fonts.googleapis.com/css?family=Roboto');

@-webkit-keyframes bounce {
  0% {
transform: scale(1,1) translate(0px, 0px);
}

30%{
transform: scale(1,0.8) translate(0px, 10px); 
}

75%{
transform: scale(1,1.1) translate(0px, -25px); 
}

100% {
transform: scale(1,1) translate(0px, 0px);
}
}

.bounce {
  /* POsitioning */
  position: absolute;
  top:70vh;
  left:100px;

  border-radius: 20px;
  text-align:center;
  margin:0 auto;
  margin-top:100px;
  height:20px;
  width:300px;
  padding:20px;  
  font-family: "Roboto";
  font-weight: 600;
  letter-spacing: 2px;
  color: black;
  background:white;
  -webkit-animation: bounce 0.75s infinite;
  cursor: pointer;
}

.bounce .text{
  line-height: 10px;
}

@media(max-width: 450px){
      .bounce {
        position: absolute;
        top:70vh;
  left:10%;
  text-align: center;
  border-radius: 20px;
  text-align:center;
  margin:0 auto;
  margin-top:120px;
  height:20px;
  width:300px;
  padding:20px;  
  font-family: "Roboto";
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  background:darkcyan;
  -webkit-animation: bounce 0.75s infinite;
  cursor: pointer;
      }
      .wrapper1{
        margin: 10px;
      }
  }

  .wrapper1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.wrapper1 .container .btn1 {
  width: 200px;
  height: 200px;
  color: #3895D3;
  text-align: center;
  font-size: 80%;
  line-height: 200px;
  text-transform: uppercase;
  position: relative;
  display: block;
  border: 1px solid #3895D3;
  border-radius: 50%;
  transition: 300ms ease;
}
.wrapper1 .container .btn1:hover {
  color: #3895D3;
  border-color: #3895D3;
  /*background-color: rgba(37, 127, 127, 0.25);*/
}
.wrapper1 .container .border {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.wrapper1 .container .border .line {
  position: absolute;
  fill: none;
  stroke: #3895D3;
  stroke-width: 1px;
  -webkit-transform-origin: center;
          transform-origin: center;
  transition: all 500ms ease-in-out;
}
.wrapper1 .container .border .line.left {
  stroke-width: 10px;
  stroke-dasharray: 300 200;
  stroke-dashoffset: -200;
}
.wrapper1 .container .border:hover .line {
  stroke: #3895D3;
}
.wrapper1 .container .border:hover .left {
  stroke-dasharray: 600 0;
  stroke-dashoffset: 100;
}