@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@-webkit-keyframes bounce {
  0% {
transform: scale(1,1) translate(0px, 0px);
}

30%{
transform: scale(1,0.8) translate(0px, 10px); 
}

75%{
transform: scale(1,1.1) translate(0px, -25px); 
}

100% {
transform: scale(1,1) translate(0px, 0px);
}
}

.bounce {
    /* POsitioning */
    position: absolute;
    top: 70vh;
    left: 100px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    height: 20px;
    width: 300px;
    padding: 20px;
    font-family: 'Lobster',cursive;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    background: white;
    -webkit-animation: bounce 0.75s infinite;
    cursor: pointer;
}

.bounce .text{
  line-height: 10px;
}

@media(max-width: 450px){
    .bounce {
        position: absolute;
        top: 70vh;
        left: 10%;
        text-align: center;
        border-radius: 20px;
        text-align: center;
        margin: 0 auto;
        margin-top: 120px;
        height: 20px;
        width: 300px;
        padding: 20px;
        font-family: 'Lobster',cursive;
        font-weight: 600;
        letter-spacing: 2px;
        color: white;
        background: darkcyan;
        -webkit-animation: bounce 0.75s infinite;
        cursor: pointer;
    }
      .wrapper1{
        margin: 10px;
      }
      .button-wrap-2 {
        padding: 0px 100px;
      }
        .button-wrap-2 .circle {
            /* Inner circle */
            width: 160px;
            height: 160px;
            /* 20px smaller b/c of margin below */
            margin: 10px;
            background-color: #fff;
            font-family: 'Lobster',cursive;
            border-radius: 80px;
            font-size: 5.5vw;
            color: #3895D3;
            /* Overlays this circle on the .circle */
            z-index: 2;
            position: absolute;
            /* centers the text: adjust to desired size */
            padding: 35px 10px;
            text-align: center;
            /* shadow */
            -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
            -o-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
        }
  }

  @media(min-width: 450px){
    .button-wrap-2 .circle {
        /* Inner circle */
        width: 160px;
        height: 160px;
        /* 20px smaller b/c of margin below */
        margin: 10px;
        background-color: #fff;
        font-family: 'Lobster',cursive;
        border-radius: 80px;
        font-size: 1.3vw;
        color: #3895D3;
        /* Overlays this circle on the .circle */
        z-index: 2;
        position: absolute;
        /* centers the text: adjust to desired size */
        padding: 35px 10px;
        text-align: center;
        /* shadow */
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
        -o-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    }
  }

  .example {
  float: left;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes zoom {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.8);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes zoom {
  0% {
    -o-transform: scale(1);
  }
  50% {
    -o-transform: scale(0.8);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.button-wrap-2 {
  width: 120px;
  height: 120px;
  margin: 70px 100px 70px 20px;
  display: inline-block;
  position: relative;
}

.button-wrap-2 .outer-circle {
  /** outer circle **/
  width: 180px;
  height: 180px;
  border-radius: 100px;
  background-color: #3895D3;
  /*** outer circle position: under */
  z-index: 1;
  position: absolute;
}
.button-wrap-2 .circle:hover + .outer-circle, .button-wrap-2 .circle:active + .outer-circle {
  -webkit-animation: zoom 1s ease-in 0s 1 both;
  -mox-animation: zoom 1s ease-in 0s 1 both;
  -o-animation: zoom 1s ease-in 0s 1 both;
  animation: zoom 1s ease-in 0s 1 both;
}
