@import url('https://fonts.googleapis.com/css?family=Roboto');

@-webkit-keyframes bounce {
  0% {
transform: scale(1,1) translate(0px, 0px);
}

30%{
transform: scale(1,0.8) translate(0px, 10px); 
}

75%{
transform: scale(1,1.1) translate(0px, -25px); 
}

100% {
transform: scale(1,1) translate(0px, 0px);
}
}

.bounce {
  /* POsitioning */
  position: absolute;
  top:70vh;
  left:100px;

  border-radius: 20px;
  text-align:center;
  margin:0 auto;
  margin-top:100px;
  height:20px;
  width:300px;
  padding:20px;  
  font-family: "Roboto";
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  background:darkcyan;
  -webkit-animation: bounce 0.75s infinite;
  cursor: pointer;
}

.bounce .text{
  line-height: 10px;
}

@media(max-width: 450px){
      .bounce {
        position: absolute;
        top:70vh;
  left:10%;

  border-radius: 20px;
  text-align:center;
  margin:0 auto;
  margin-top:100px;
  height:20px;
  width:300px;
  padding:20px;  
  font-family: "Roboto";
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  background:darkcyan;
  -webkit-animation: bounce 0.75s infinite;
  cursor: pointer;
      }
  }